@font-face {
    font-family: Rubik;
    src: url(../fonts/Rubik/Rubik-Regular.ttf);
}
body,p{
    margin: 0;
    padding: 0;
}
* {
    font-family: Rubik;
}
nav div{
    cursor: pointer;
}
a,button{
    cursor: pointer;
    color: inherit;
}
.topBar{
    /* position: sticky; */
    top: 0;
    width: 100%;
    /* height: 7.5%; */
}
.bgYellow{
    background-color: #f4df20;
}
.navbar{
    z-index: 3;
    box-shadow: 0 0 1px rgba(0,0,0,0.2);
}
.burgerItem{
    order: 1;
    margin: 3.5% 0 3.5% 3.5%;
}
.titleItem{
    order: 2;
    margin: 3.5% 0 3.5% 0%;
}
.shopItem{
    order: 4;
    margin: 3.5% 3.5% 3.5% 0;
    cursor: pointer;
}
.titleSite{
    font-size: 22px;
    text-decoration: none;
    color: #000000;
}

/* sidebar */
.sideBar{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 80%;
    color: #000000;
    background-color: #ffffff;
    z-index: 4;
}
.sideBar.closed{
    left:-100%;
}
.sideBar.closing{
    animation-name: sideBar-closing;
    animation-duration: 0.3s;
}
.sideBar.opening{
    animation-name: sideBar-opening;
    animation-duration: 0.3s;
}
@keyframes sideBar-opening{
    from{left: -100%}
	to{left: 0}
}
@keyframes sideBar-closing{
    from{left: 0}
	to{left: -100%}
}
ul{
  list-style-type: none;
  margin: 0;
}
li{
    font-size: 16px;
    padding: 10% 0 0 0;
    cursor: pointer;
    font-weight: bold;
}
.faq{
    text-align: center;
    /* padding: 5% 0 0 0; */
}
.closeBurger{
    margin: 3.5% 3.5% 3.5% 0;
}

/* searchBar */
.searchBar{
    width: 100%;
    height: 7.5%;
}
input{
    border: none;
}
.searchInput{
    width: 100%;
    /* height: 100%; */
    font-size: 16px;
    background: none;
}

.searchBar.open{
    animation: searchBar-show 0.3s;
}
.searchBar.close{
    animation: searchBar-hidden 1.3s;
}
@keyframes searchBar-show{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes searchBar-hidden{
    from{opacity: 1;}
    to{opacity: 0;}
}

/* class hidden */
.hidden{
    display: none;
}
/* class not hidden */
.show{
    display: block;
}

/* content */
.container{
    width: 100%;
    /* background-color: aqua; */
}
.mgLeft{
    margin-left: 2%;
}
.mgRight{
    margin-right: 2%;
}
.pdLeft{
    padding-left: 3.5%;
}
.pdRight{
    padding-right: 3.5%;
}
.flex{
    display: flex;
    flex-direction: row;
}
.bold{
    font-weight: bold;
}
.greyLine{
    width: 100%;
    height: 1px;
    /* background: #C4C4C4; */
    background: #868181;
}
.shadow{
    width: 100%;
    height: 1px;
    background: rgba(0,0,0,0.1);
    /* background: #f9f9f9; */
}
.greyShadow{
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.2);
}
.spcbtw{
    justify-content: space-between;
}
.font20{
    font-size: 20px;
}
.font16{
    font-size: 16px;
}
.font18{
    font-size: 18px;
}
.bgWhite{
    background: #ffffff;
}
.toggle{
    cursor: pointer;
}

/* cart */
.cart{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 4;
}
.cart.closed{
    right: -100%;
}
.cart.closing{
    animation-name: cart-closing;
    animation-duration: 0.3s;
}
.cart.opening{
    animation-name: cart-opening;
    animation-duration: 0.3s;
}
@keyframes cart-opening{
    from{right: -100%}
	to{right: 0}
}
@keyframes cart-closing{
    from{right: 0}
	to{right: -100%}
}

.textCenter{
    justify-content: center;
}
.textAling{
    text-align: center;
}
.textEnd{
    justify-content: end;
}

.bgPink{
    background-color: pink;
}
.bgBlue{
    background-color: lightblue;
}
.bgOrange{
    background-color: orangered;
}
.bgGrey{
    background-color: #eeeeee;
}

.border{
    border: 1px black solid;
}
.inLineBlock{
    display: inline-flexbox;
}
.bgBlack{
    background: #353737;
}
.colorWhite{
    color: #ffffff;
}
.stopScroll{
    overflow-y: hidden;
    overflow-x: hidden;
}
.loupe{
    margin: 3.5% 5% 0 0;
}
.xSearch{
    margin: 3.5% 0 0 5%;
}
.inputSearch{
    margin: 3.5% 0 0 0;
}
.banner{
    width: 100%;
    background: #000000;
}
.banner div{
    padding: 1.5% 5% 1.5% 5%;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}
.uppercase{
    text-transform: uppercase;
}
.shadowOverAll{
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.4;
}
.mgTop10{
    margin-top: 10%;
}