.box{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
    cursor: pointer;
}
.btnAd{
    text-align: center;
    font-size: 20;
}
.placedUp{
    position: absolute;
    padding: 2.5% 5% 2.5% 5%;
    top: 5%;
    left: 5%;
}
.placedDown{
    position: absolute;
    padding: 2.5% 5% 2.5% 5%;
    bottom: 5%;
    left: 37.5%;
}
.placedLower{
    position: absolute;
    padding: 2.5% 5% 2.5% 5%;
    bottom: 5%;
    left: 0;
    right: 0;
}
.box img{
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}
.promotions{
    width: 100%;
    height: 500px;
}
.dots{
    text-align: center;
    margin-top: 2%;
}
.promoted{
    width: 100%;
    height: 70%;
}
.blackLayer{
    position: absolute;
    background: #000000;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.innershadow {
    -moz-box-shadow:    inset 0 0 50px #000000;
    -webkit-box-shadow: inset 0 0 50px #000000;
    box-shadow:         inset 0 0 50px #000000;
}
.bigPromo{
    width: 100%;
    height: 500px;
    position: relative;
    background: lightblue;
}
.bigPromo img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}
.bigPromoInfo{
    position: absolute;
    bottom: 0;
    margin: auto;
    z-index: 2;
}
.textOverImg{
    font-weight: bold;
    color: #fff;
}
.smallInfo{
    font-size: 16px;
}
.bigInfo{
    font-size: 22px;
}
.itemButton{
    background: none;
    border: 3px white solid;
}
.itemButton button{
    padding: 5%;
    width: 100%;
    height: 100%;
}
.bigPromoInfo div{
    margin: 0 0 10% 0;
}
button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
.bullet{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background: #bbb;
    border-radius: 50%;
    display: inline-block;
    /* transition: background-color 0.6s ease; */
    border: 1px white solid;
    z-index: 2;
}
.bullet :hover{
    background: #000;
}